/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

/* Small screens and mobile ----------- */
@media only screen and (max-width : 639px) {
    .userLocation {
        width:auto;
        left:0;
    }
    .reloadLocation {
        position:relative;
        margin:auto;
        top:20px;
        right:auto;
    }
    .shootLocation {
        top:70%;
        padding-right:0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}

@media only screen and (min-width : 640px) {
    .userLocation {
        width:520px;
        margin-left:-260px;
        left:50%;
        top:50px;
    }
    .reloadLocation {
        position:absolute;
        right:-79px;
        top:0;
    }
    .shootLocation {
        top:50%;
        padding-right:50px;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
    }
}

/* iPad ----------- */
@media only screen and (min-width : 980px) {
    .userLocation {
        width:860px;
        margin-left:-462.5px;
    }
}

/* Desktop ----------- */
@media only screen and (min-width : 1025px) {
    
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
